<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>

  <!-- 1. Static files go FIRST -->
  <add name="StaticFileHandler" 
       path="*" 
       verb="GET,HEAD" 
       modules="StaticFileModule" 
       resourceType="File"
       preCondition="" />

  <!-- 2. Django FastCGI AFTER static files -->
  <add name="Python FastCGI"
       path="*"
       verb="*"
       modules="FastCgiModule"
       scriptProcessor="C:\inetpub\wwwroot\AgroInduGestor\venv\Scripts\python.exe|C:\inetpub\wwwroot\AgroInduGestor\venv\Lib\site-packages\wfastcgi.py"
       resourceType="Unspecified"
       requireAccess="Script" />
</handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^static/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="DjangoApp" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="mes_central/wsgi.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="mes_central.wsgi.application" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\AgroInduGestor" />
  </appSettings>
</configuration>
